.wrapper {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0%;
    background-color: rgba(127, 255, 212, 0.384);
}

.center {
    margin:0% 25% 0% 15%;
}

.header-line {
    padding-top: 1%;
    display: flex;
    align-items: center;
}

.nav123 {
    display: flex;
}

.logo-img {
    height: 35%;
    width:  35%;
}

.nav-item {
    margin-left: 5%;
    text-decoration: none;
    font-size: 200%;
    color: #f66d52;
    font-weight: bold;
    padding: 2.5% 0%;
    text-transform: uppercase;
    line-height: 100%;
}
.text-animate{
    color: #f66d52;
    font-weight: bold;
    padding: 2.5% 0%;
    text-transform: uppercase;
    line-height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.2s ease;
}

.text-animate:hover{
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.content {
    margin: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2.5%;
    background-color: rgba(172, 255, 47, 0.637);
    border-radius: 10px;
}


.product {
    display: flex;
    margin-left: 7%;
    margin-top: 1%;
}

.card {
    margin: 2%;
    transition: all 0.2s ease;
}

.activate_header {
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.card:hover {
    box-shadow: 5px 5px 5px #00000054;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

address {
  font-size: 1em;
  line-height: 1.5;
}

.contact-info li {
  margin-bottom: 5px;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.partner {
    border-radius: 20px;
}

.url {
    text-decoration: none;
}
